body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    background-color: rgb(204, 204, 204)
}

img, video, object, embed {
    max-width:100%;
}

h1 {
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.5em;
    text-shadow:4px 4px 4px rgb(0, 0, 0);
    padding-top: 40px;
    padding-left: 45%;

}

/*ClearFix*/
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
/*NO DEJAR ESPACIOS ENTRE .clearfix: y su atributo en este
caso before y after. Osea, no hacer esto .clearfix: before*/

.clearfix:after {
    clear:both;
}

.clearfix {
    *zoom:1;
}

/*Contenedor*/
.container {
    width: 960px;
    margin: 0 auto;
    font-size: 1em;
    height: auto;
    line-height: 180%;
}

/*LOGO*/
#logo {
    width:200px;
    border-top: 3px;
}

a:hover {
    background-color: rgb(56, 124, 59)
}

/*Menu de navegacion*/
#menu {
    height: 40px;
    width: 100%;
    background-color: rgb(56, 124, 59);
    font-weight: bold;
    border-bottom: 7px solid #000000;
}

#menu ul {
    padding: 0;
    height: 40px;
    width: 600px;
}

#menu li {
    display: inline;
    float: left;
    background-color: rgb(56, 124, 59);
}

#menu a {
    border-right: 1px solid #576979;
    color: #fff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
    box-sizing: border-box;
    /*En este caso como el ancho es de 600px y yo tengo 6 botones cada uno de 100px mas un border-right de 1px
    entonces eso hace que se pase del limite (606 es mas del 100%). Solucion es bajar a 99pix los botones o
    utilizar una PROPIEDAD LLAMADA box-sizing:border-box y escribir los atributos de la misma que apareceran en
    la pagina web PREFIXR.COM  */
    /*AQUI VAV LOS ATRIBUTOS DE BOX-SIZING
    YA ESTABAN LISTOS TODOS LOS NAVEGADORES PERO DEJO ESTE COMENTARIO PARA MI CONOCIMIENTO*/

 }

#menu li:last-child a{
    border-right: 0;
}

#menu a:hover, #menu a:active {
    background-color: #000000;
}

#menu a#pull {
    display: none;
}

/*slideshow*/
#slideshow {
    width: 100%;
    height: auto;
}

.slide {
    width: 100%;
    height: auto;
}

/*imagenes*/
#D-imag {
    width: 400px;
    height: 40px;
    margin: auto;
    position: static;
    opacity: 0.7;
}

#D-imag:hover {
    opacity: 1.0;
}

/*articulos*/

#pp {
    text-indent: 35px;
}

#col-1 {
    width: 50%;
    float: left;
    background-color: #ffffff;
}

#col-2 {
    width: 40%;
    float: left;
    background-color: rgb(56, 124, 59);
}

#col-1, #col-2 {
    padding: 15px;
}

/*Foter*/
footer {
    height: 40px;
    background-color: #000000;
    margin-top: 200px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    padding: 40px;
}

/******************************************************************************************************************************
Media Queries de CSS3
*******************************************************************************************************************************/
@media screen and (max-width: 480px) {

    .container {
        width:100%;
    }

    #logo {
        width:100px;
        border-top: 3px;
    }

    #menu {
        border-bottom:0;
    }

    #menu ul {
        display:none;
        height:auto;
        width:100%;
    }

    #menu a#pull {
        display:block;
        background-color:#283744;
        width:100%;
        position:relative;
        text-align:left;
        text-indent:25px;
    }

    #menu a#pull:after {
        content:"";
        background:url("../images/nav-icon.png") no-repeat;
        width:30px;
        height:30px;
        display:inline-block;
        position:absolute;
        right:15px;
        top:10px;
    }

    #menu li {
        width:50%;
        float:left;
        position:relative;
    }

    #menu a {
        width:100%;
    }

    #col-1, #col-2 {
        width:90%;
        float:left;
    }

    #D-imag {
        width: 250px;
        height: 40px;
        margin: auto;
        position: static;
    }

}

@media screen and (min-width: 481px) and (max-width:767px) {

    .container {
        width:90%;
    }

    #logo {
        width:140px;
        border-top: 3px;
    }

    #menu {
        height:auto;
    }

    #menu ul {
        width:100%;
        display:block;
        height:auto;
    }

    #menu li {
        width:50%;
        float:left;
        position:relative;
    }

    #menu a {
        border-bottom:1px solid #576979;
        border-right:1px solid #576979;
        text-align:left;
        width:100%;
        text-indent:25px;
    }

    #col-1, #col-2 {
        width:50%;
    }

    #D-imag {
        width: 300px;
        height: 40px;
        margin: auto;
        position: static;
    }

}

@media screen and (min-width: 768px) and (max-width:1024px) {

    .container {
        width: 90%;
    }

    #logo {
        width:160px;
        border-top: 3px;
    }

    #col-1, #col-2 {
        width: 44%;
    }

    #D-imag {
        width: 350px;
        height: 40px;
        margin: auto;
        position: static;
    }

}
